.conteiner{
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

@media (max-width : 935px){
    .conteiner{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }
}