.conteiner{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon{
    width: 60px;
    height: 60px;
    /* color: brown; */
}

.icon:hover{
    width: 90px;
    height: 90px;
}

.conteinerIcons{
    width: 90%;
    gap: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.iconRows{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 768px){
    .iconRows{
        width: 80%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    
}

