@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.container{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}

.conteinerSkills{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    font-family: 'Poppins', sans-serif;
}

.icon{
    width: 60px;
    height: 60px;
    /* color: brown; */
}

.icon:hover{
    width: 80px;
    height: 80px;
}

.iconDiv{
    width: 100px;
    height: 100px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteinerIcons{
    width: 90%;
    height: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.iconRows{
    width: 90%;
    height: 17%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 768px){

    .conteinerIcons{
        width: 98%;
        height: 100%;
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        align-items: center;
    }

    .iconRows{
        width: 95%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
    
}

