@import url('https://fonts.googleapis.com/css2?family=Genos:wght@300&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.foto{
    width: 400px;
    height: 400px;
    border-radius: 200px;
}

.content{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    /* padding-top: 300px; */
    flex-direction: row;
    gap: 120px;
    background-color: RGB(248, 247 , 253);
}

/* .titleContainer{
    display: flex;
    align-items: center;
    height: 95vh;
} */

.allTitlesContainer{
    width: 28%;
    height: 33%;
}

.firstTitle{
    font-size: 2.0em;
    font-family: 'Genos', sans-serif;
    
}

.nameTitle{
    font-size: 3.5em;
    font-family: 'Poppins', sans-serif;
}

/* --------------dynamic title ---------------------*/

.dynamicTitle{
    font-family: 'Poppins', sans-serif;
    border-right: 3px solid black;
    animation: typist 10s steps(21) infinite, caret 0.7s infinite step-end;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2.0em;
    font-weight: 600;
    width: 40%;
}

@keyframes caret{
    0%, 100%{border-color: transparent;}
    50%{border-color: black;}
}
@keyframes typist{
    0%{width: 0ch;}
    30%{width: 21ch;}
    80%{width: 21ch;}
    90%{width: 0ch;}
    100%{width: 0ch;}
}

/*--------------------------------------------------*/

.button{
    width: 130%;
    height: 42px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    color: rgba(3, 3, 3, 0.705);
    background-color: RGB(248, 247 , 253);
    cursor: pointer;
    border: 2px solid lightblue;
}

.buttonsConteiner{
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
}

@media (max-width: 790px) {
    .foto{
        width: 200px;
        height: 200px;
        border-radius: 190px;
    }
    .content{
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 50px;
    }
    .allTitlesContainer{
        width: 85%;
    }
}