.container{
    width: 100%;
    height: 18vh;
    box-shadow: 15px 15px 10px 15px rgba(17, 17, 17, 0.308); 
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsContainer{
    /* background-color: red; */
    height: 40%;
    width: 20%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icons{
    width:300%;
    height: 50%;
}