.conteiner{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.description{
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.photoandtitle{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 70px;  
}

.foto{
    width: 270px;
    height: 500px;
    border-radius: 70px;
}

.titleIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.emoji{
    font-size: 2.0rem;
}

@media (max-width: 790px){
    .photoandtitle{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
}